.faq-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Nunito Sans", sans-serif;
}

.faq-title {
  text-align: center;
  color: #0f5648;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
}

.faq-subtitle {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 80px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
}

.faq-item {
  border-top: 1px solid rgba(137, 137, 137, 0.2);
  padding: 1rem 0;
  font-family: "Nunito Sans", sans-serif;
}

.faq-question {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 400;
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 18px;
  margin-top: 0.5rem;
  font-family: "Nunito Sans", sans-serif;
}

.faq-answer.open {
  max-height: 300px; /* enough to fit content */
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
