
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

:root {
  --framer-font-family: "Nunito Sans", sans-serif;
  --text-color: rgb(15, 15, 15);
  --hover-color: rgb(240, 101, 23);
  --bg-color: rgb(250, 239, 226);
}

.navbar {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  font-family: var(--framer-font-family);

  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 1px 6px rgba(0,0,0,0.05);
}

.navbar-container {
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.navbar-logo img {
    margin-left: 0px;
    padding-left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 0 60px 60px 0;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: scale(1.05);
}

/* NAV LINKS */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 4rem;

  font-size: 18px;
    font-style: normal;

   letter-spacing: 0em;
   line-height: 28px;
   
}

.navbar-links li a {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: var(--text-color);
  transition: color 0.3s ease;
}

/* underline animation like Framer */
.navbar-links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navbar-links li a:hover {
  color: var(--hover-color);
}

.navbar-links li a:hover::after {
  transform: scaleX(1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-links {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
