.pricing-section {
  padding: 80px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.pricing-header .subtitle {
  color: #0f5648;

  margin-bottom: 10px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
}

.pricing-header .title {
  font-size: 36px;
  color: black;

  margin-bottom: 40px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
}

.pricing-header .description {
  max-width: 900px;
  margin: 0 auto 50px auto;
  color: #555;
  font-size: 36px;
  color: black;

  margin-bottom: 70px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pricing-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 40px 30px;
  width: 380px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.pricing-card.highlighted {
  background-color: #0f5648;
  color: #fff;
  border-color: #0f5648;
}

.plan-name {
  font-size: 28px;
  margin-bottom: 0px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
margin-top: 0px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 56px;
}

.plan-description {
  margin-bottom: 20px;
  font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
margin-top: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 56px;
}

.starting-text {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  color: inherit;
}

.price {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.price .currency {
  font-size: 36px;
  vertical-align: top;
}

.price .per-month {
  font-size: 18px;
  margin-left: 5px;
  color: inherit;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  width: 100%;
  text-align: left;
}

.features li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
}

.checkmark {
  color: #0f5648;
  margin-right: 10px;
}

.pricing-card.highlighted .checkmark {
  color: #fff;
}

.cta-button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid #0f5648;
  color: #0f5648;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.pricing-card.highlighted .cta-button {
  background-color: #fff;
  color: #0f5648;
}

.cta-button:hover {
  background-color: #0f5648;
  color: #fff;
}
