* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.scroll-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #0e0e0e;
  color: #fff;
  gap: 40px;
  padding: 40px 80px 0px 80px;
  margin-top: 0px;
}
.scroll-wrappertop {
  background: #0e0e0e;
  padding-top: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}
.serviceh {
  font-size: 18px;
  font-weight: 400;
  color: rgb(245, 128, 20);
  margin-bottom: 25px;
  font-family: "Nunito Sans", sans-serif;
}

.sub-headingservice {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* LEFT - STICKY IMAGE */
.sticky-image-container {
  width: 55%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sticky-image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  border-radius: 18px;
  opacity: 1;
  transition: opacity 0.8s ease;
    will-change: transform, opacity;
  backface-visibility: hidden;
}
.slide-up {
  animation: slideUp 0.8s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(1.02);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



/* RIGHT - SCROLLING CONTENT */
.content-sections {
  width: 55%;
}

.service_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

/* RIGHT SIDE CONTENT */
.service_content {
  width: 100%;
}

.chips {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.chips span {
  background: #1a1a1a;
   padding: 12px 24px;
  border-radius: 24px;
  font-size: 13px;
  border: 1px solid #222;
}

.service_content h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.service_desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
  max-width: 600px;
}

.service_points {
  list-style: none;
  padding: 0;
}

.service_points li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 28px;
  line-height: 38px;
   font-size: 18px;
  font-weight: 400;
}

.service_points li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #3bd671;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.service_buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.case_btn {
  padding: 20px 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  gap: 10px;
 
}

.call_btn {
  padding: 20px 40px;
  background: #ff7a21;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  gap: 10px;
}

.call_btn:hover {
  background: #ff8d42;
}

.case_btn:hover {
  background: #262626;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .scroll-wrapper {
    flex-direction: column;
  }

  .sticky-image-container {
    width: 100%;
    height: 60vh;
    position: relative;
  }

  .content-sections {
    width: 100%;
  }
}