.testimonials-section {
  padding: 60px 40px;
  text-align: center;
  background: #ffffff;
  max-width: 1200px;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;

}

.sub-heading {
  color: #0f5648;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;

  margin-bottom:0px;
  padding-bottom: 0px;
}

.main-heading {
    margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111;
  font-family: "Nunito Sans", sans-serif;

}

.description {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 18px;
  font-weight: 400;
  color: #111;
  font-family: "Nunito Sans", sans-serif;
margin-bottom: 7%;
}

/* 2 cards per row, wider cards */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1400px; /* adjust as needed */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .testimonial-grid {
    grid-template-columns: 1fr; /* single column on smaller screens */
  }
}


/* Testimonial card */
.testimonial-card {
  background: #f9fafb;
  border-radius: 16px;
  padding: 40px 30px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.08);
}

/* Testimonial text */
.testimonial-text {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: left;
}

/* Quote icon - right aligned */
.testimonial-icon {
  display: flex;
  justify-content: flex-end; /* aligns icon to the right */
  margin-bottom: 15px;
}

.testimonial-icon img {
  width: 28px;
  height: 28px;
}

/* Client info container */
.testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.client-info {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  display: flex;
  align-items: center;
  gap: 15px; /* space between image and details */
}

.client-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.client-details {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.client-name {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.client-role {
    font-family: "Nunito Sans", "Nunito Sans Placeholder", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111;
  margin: 2px 0 0 0;
}
